include LICENSE
include README.md
recursive-include odooku_addons *.css
recursive-include odooku_addons *.csv
recursive-include odooku_addons *.doc
recursive-include odooku_addons *.eml
recursive-include odooku_addons *.eot
recursive-include odooku_addons *.gif
recursive-include odooku_addons *.html
recursive-include odooku_addons *.ico
recursive-include odooku_addons *.jpeg
recursive-include odooku_addons *.jpg
recursive-include odooku_addons *.js
recursive-include odooku_addons *.less
recursive-include odooku_addons *.md
recursive-include odooku_addons *.mp3
recursive-include odooku_addons *.ods
recursive-include odooku_addons *.ogg
recursive-include odooku_addons *.otf
recursive-include odooku_addons *.pdf
recursive-include odooku_addons *.png
recursive-include odooku_addons *.po
recursive-include odooku_addons *.rml
recursive-include odooku_addons *.rng
recursive-include odooku_addons *.rst
recursive-include odooku_addons *.sass
recursive-include odooku_addons *.sql
recursive-include odooku_addons *.svg
recursive-include odooku_addons *.template
recursive-include odooku_addons *.txt
recursive-include odooku_addons *.ttf
recursive-include odooku_addons *.woff
recursive-include odooku_addons *.woff2
recursive-include odooku_addons *.wsdl
recursive-include odooku_addons *.xls
recursive-include odooku_addons *.xlsx
recursive-include odooku_addons *.xsd
recursive-include odooku_addons *.xsl
recursive-include odooku_addons *.xml
recursive-include odooku_addons *.yml
